/* BetterFreinds V3 */
:root{
--borders: 0px;
--friendblockheight: 80px;
--csbg: var(--bgoff);
--bgoff: none;
--bgon: url('https://imgur.com/8twCdCN.jpg');}
/* Online count */
.peopleList-3c4jOR .title-30qZAO { 
font-size: 18px;
text-align: center;
line-height: 40px;
height: 40px !important;
border-radius: var(--borders);
background-color: var(--background-tertiary);}
[id="ONLINE-tab"] .peopleList-3c4jOR .title-30qZAO {
color: #43B581;
height: var(--friendblockheight)}
/* USRBG */
.avatar-3W3CeO.wrapper-3t9DeA:before {
content: '';
position: absolute;
top: -20px; 
left: -25px;
min-width: 1585px;
height: var(--friendblockheight) !important;
z-index: -1;
opacity: 0.3;
background: var(--user-background, var(--csbg));
background-size: cover;
background-repeat: no-repeat;
background-position: center;}
.userInfo-2zN2z8 {
background-color: var(--background-tertiary);
border-radius: var(--borders);
padding: 8px;
margin-left: 6px;}
/* Buttons */
.actionButton-uPB8Fs, .actionButton-uPB8Fs.highlight-Lf97TE {border-radius: var(--borders);}
/* Fuck Borders */
.peopleListItem-2nzedh {
border-top: 0px solid var(--background-modifier-accent);}
/* tajmahal? / Bruh / Why is this here? */
.userInfo-2zN2z8, .actions-1SQwjn {position: relative; z-index: 1;}
#app-mount .item-3HknzM {color: white;}
#app-mount [aria-controls='ALL-tab'] {
order: -1;
background-color: rgb(0, 118, 187);}
#app-mount [aria-controls='ONLINE-tab'] {
background-color: rgb(29, 185, 84);}
#app-mount [aria-controls='PENDING-tab'] {
background-color: rgb(250, 166, 26);}
#app-mount [aria-controls='BLOCKED-tab'] {
background-color: rgb(255, 42, 0);}
/* You can omit #app-mount here if you want to */
#app-mount [aria-controls='ADD_FRIEND-tab'] {
background-color: rgb(209, 41, 255) !important;}
/* Apply this if you want to hide the Friends title as well */
.tabBar-ZmDY9v {
right: 122px; position: relative;
background-color: var(--background-primary);}
/*.content-98HsJk {position: relative;}*/
.container-1D34oG {
/*background-color: #fff0 !important;*/
position: relative;
padding-right: 0px; padding-left: 0px;}
.tabBody-3YRQ8W {
border-radius: 0px;
margin-bottom: 0px;
display: flex;
flex-flow: column nowrap;}
/*.tabBody-3YRQ8W::before {
display: none;}*/
.peopleColumn-29fq28 {
border-radius: 0px 0px 0 0;
margin: 0 0 0 0;
height: 70vh;}
.nowPlayingColumn-2sl4cE {
flex: unset;
max-width: unset;
overflow: hidden;
height: 25vh; 
min-height: 25vh;
max-height: 25vh;}
