
/* BetterFreinds V4 */
:root {
/* Toolbar Colors (RGB Only) */
  --toolbar-online-color: rgb(67, 181, 129);
  --toolbar-all-color: rgb(0, 118, 187);
  --toolbar-addfriend-color: rgb(209, 41, 255);
  --toolbar-pending-color: rgb(250, 166, 26);
  --toolbar-blocked-color: rgb(255, 42, 0);
  --toolbar-text-color: white;
/* Active Now Tab Height */
  --active-now-height: 35vh;
/* USRBG/Background Height */
  --friendblockheight: 80px;
/* Friend Background Vars */ 
  --csbg: var(--bgoff);
  --bgoff: none;
  --bgon: url('https://imgur.com/8twCdCN.jpg');
}
/* Online count */
.peopleList-2VBrVI .title-3XlmeX { 
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  height: 40px !important;
  border-radius: var(--borders-cards);
  background-color: var(--background-tertiary);
}
/* Add Friend Tab */
#ADD_FRIEND-tab .header-30YxSJ { 
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  height: 40px !important;
  border-radius: var(--borders-cards);
  background-color: var(--background-tertiary);
}
/* USRBG */
.avatar-2MSPKk.wrapper-1VLyxH:before {
  content: '';
  position: absolute;
  top: -20px; 
  left: -25px;
  min-width: 1585px;
  height: var(--friendblockheight) !important;
  z-index: -1;
  opacity: 0.3;
  background: var(--user-background, var(--csbg));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.userInfo-2WpsYG {
  background-color: var(--background-floating);
  border-radius: var(--borders-cards);
  padding: 8px;
  margin-left: 6px;
}
/* Fuck Borders */
.peopleListItem-u6dGxF {
  border-top: 0px solid var(--background-modifier-accent);
}
/* tajmahal? / Bruh / Why is this here? */
.userInfo-2WpsYG, .actions-YHvpIT {
  position: relative;
  z-index: 1;
}
.peopleColumn-1wMU14 .userInfo-2WpsYG {
  overflow: hidden !important;
}
/* Toolbar/Tab Colors */
#ALL-tab .peopleList-2VBrVI .title-3XlmeX {
  color: var(--toolbar-all-color);
  height: var(--friendblockheight);
}
#app-mount [aria-controls='/library-tab'] {
  background-color: var(--toolbar-all-color) !important;
}
#app-mount [aria-controls='ALL-tab'] {
  order: -1;
  background-color: var(--toolbar-all-color);
}
#ONLINE-tab .peopleList-2VBrVI .title-3XlmeX {
  color: var(--toolbar-online-color);
  height: var(--friendblockheight);
}
#app-mount [aria-controls='ONLINE-tab'] {
  background-color: var(--toolbar-online-color);
}
#PENDING-tab .peopleList-2VBrVI .title-3XlmeX {
  color: var(--toolbar-pending-color);
  height: var(--friendblockheight);
}
#app-mount [aria-controls='PENDING-tab'] {
  background-color: var(--toolbar-pending-color);}
[id="BLOCKED-tab"] .peopleList-2VBrVI .title-3XlmeX {
  color: var(--toolbar-blocked-color);
  height: var(--friendblockheight);
}
#app-mount [aria-controls='BLOCKED-tab'] {
  background-color: var(--toolbar-blocked-color);
}
#ADD_FRIEND-tab .header-30YxSJ {
  color: var(--toolbar-addfriend-color);
}
#app-mount [aria-controls='ADD_FRIEND-tab'] {
  background-color: var(--toolbar-addfriend-color) !important;
}
#app-mount .item-3mHhwr {
  color: var(--toolbar-text-color) !important;
}
/* Apply this if you want to hide the Friends title as well */
.tabBar-ra-EuL {
  right: 122px;
  position: relative;
  background-color: var(--background-primary);
}
/* Make The Tab Body a Column */
.tabBody-2dgbAs, .pageContent-1xgXch, .stageSection-3mAD8V  {
  display: flex;
  flex-flow: column nowrap;
}
/* Make Active Now Resizeable */
.nowPlayingColumn-1eCBCN, .nowPlayingSidebar-2OFn0o {
  flex: unset; max-width: unset;
  overflow: hidden;
  height: var(--active-now-height); 
  min-height: var(--active-now-height);
  max-height: var(--active-now-height);
}
