:root {
    --status-radius-8: 0%; /* Unknown range */
    --status-radius-10: 0%; /* 0-10% */
    --status-radius-12: 0%; /* 0-8% */
    --status-radius-16: 0%; /* 0-7% */
    --status-radius-24: 0%; /* 0-7% */
    --status-radius-misc: 0%; /* Unknown range */
}

#app-mount .wrapper-1VLyxH rect,
#app-mount .avatarHint-k7pYop rect,
#app-mount .wrapper-3mYmFS rect,
#app-mount .row-x_t5Ya rect {
  x: calc(100% - 18px) !important;
  y: calc(100% - 10px) !important;
  width: 8px !important;
  height: 8px !important;
  mask: none !important;
  stroke-width: 1.5px !important;
  stroke: var(--background-primary) !important;
}

#app-mount .wrapper-1VLyxH rect[mask*="mobile"],
#app-mount .avatarHint-k7pYop rect[mask*="mobile"],
#app-mount .wrapper-3mYmFS rect[mask*="mobile"],
#app-mount .row-x_t5Ya rect[mask*="mobile"] {
  height: 14px !important;
  y: calc(50% - -0px) !important;
}

#app-mount .wrapper-1VLyxH rect[width="16"],
#app-mount .avatarHint-k7pYop rect[width="16"],
#app-mount .wrapper-3mYmFS rect[width="16"],
#app-mount .row-x_t5Ya rect[width="16"] {
  x: calc(100% - 28px) !important;
  y: calc(50% - -24px) !important;
  width: 12px !important;
  height: 12px !important;
  mask: none !important;
  stroke-width: 2.5px !important;
  stroke: var(--background-primary) !important;
}

#app-mount .wrapper-1VLyxH rect[width="16"][mask*="mobile"],
#app-mount .avatarHint-k7pYop rect[width="16"][mask*="mobile"],
#app-mount .wrapper-3mYmFS rect[width="16"][mask*="mobile"],
#app-mount .row-x_t5Ya rect[width="16"][mask*="mobile"] {
  height: 18px !important;
  y: calc(50% - -19px) !important;
}

#app-mount .wrapper-1VLyxH rect[width="24"],
#app-mount .avatarHint-k7pYop rect[width="24"],
#app-mount .wrapper-3mYmFS rect[width="24"],
#app-mount .row-x_t5Ya rect[width="24"] {
  x: calc(100% - 42px) !important;
  y: calc(50% - -36px) !important;
  width: 18px !important;
  height: 18px !important;
  mask: none !important;
  stroke-width: 3.5px !important;
  stroke: var(--background-primary) !important;
}

#app-mount .wrapper-1VLyxH rect[width="24"][mask*="mobile"],
#app-mount .avatarHint-k7pYop rect[width="24"][mask*="mobile"],
#app-mount .wrapper-3mYmFS rect[width="24"][mask*="mobile"],
#app-mount .row-x_t5Ya rect[width="24"][mask*="mobile"] {
  height: 27px !important;
  y: calc(50% - -25.5px) !important;
}

#app-mount .status-12NUUC {
  display: none !important;
}

#app-mount .pointerEvents-9SZWKj[width="8"]:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx: var(--status-radius-8) !important;
}
#app-mount .pointerEvents-9SZWKj[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx: var(--status-radius-10) !important;
}
#app-mount .pointerEvents-9SZWKj[width="12"]:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx: var(--status-radius-12) !important;
}
#app-mount .pointerEvents-9SZWKj[width="16"]:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx: var(--status-radius-16) !important;
}
#app-mount .pointerEvents-9SZWKj[width="24"]:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx: var(--status-radius-24) !important;
}
#app-mount div:not(.avatarWrapper-1B9FTW) .mask-1FEkla > svg > mask > rect:first-child,
#app-mount .avatarWrapper-1B9FTW .wrapper-1VLyxH > .mask-1FEkla > svg > rect {
  rx: var(--status-radius-misc) !important;
}