@import url("https://discordstyles.github.io/RadialStatus/base.css");

:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

/* Don't touch below this, makes it work with bordershapes. */

  --rs-avatar-shape: var(--borders-avatars);
}

#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="#3ba55c"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online], #app-mount .wrapper-3t9DeA rect[fill*="hsl(139"] {
  stroke: var(--rs-online-color) !important;
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle], #app-mount .wrapper-3t9DeA rect[fill*="hsl(38"] {
  stroke: var(--rs-idle-color) !important;
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[fill="#ed4245"], #app-mount .wrapper-3t9DeA rect[mask*=dnd], #app-mount .wrapper-3t9DeA rect[fill*="hsl(359"] {
  stroke: var(--rs-dnd-color) !important;
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: var(--rs-streaming-color) !important;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  stroke: var(--rs-offline-color) !important;
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper-3t9DeA rect[fill*="hsl(214"] {
  stroke: var(--rs-invisible-color) !important;
}
#app-mount .wrapper-3t9DeA rect[mask*="typing"] {
  stroke: white !important;
}

#app-mount .wrapper-3t9DeA rect {
  x: 0 !important;
  y: 0 !important;
}
#app-mount .wrapper-3t9DeA rect[x="16"] {
  width: 24px !important;
  height: 24px !important;
}
#app-mount .wrapper-3t9DeA rect[x="28"] {
  width: 40px !important;
  height: 40px !important;
}
#app-mount .wrapper-3t9DeA[style*="32px"] rect {
  width: 32px !important;
  height: 32px !important;
}
#app-mount .wrapper-3t9DeA[style*="80px"] rect {
  width: 80px !important;
  height: 80px !important;
}
#app-mount .wrapper-3t9DeA[style*="120px"] rect {
  width: 120px !important;
  height: 120px !important;
}

#app-mount .wrapper-3t9DeA foreignObject:after {
  top: calc(50% - 4px) !important;
  width: 8px !important;
  height: 8px !important;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*="mobile"]:after {
  height: 14px !important;
  top: calc(50% - 7px) !important;
}
#app-mount .wrapper-3t9DeA foreignObject[width="80"]:after {
  top: calc(75% - 6px) !important;
  width: 12px !important;
  height: 12px !important;
}
#app-mount .wrapper-3t9DeA foreignObject[width="80"][mask*="mobile"]:after {
  height: 18px !important;
  top: calc(75% - 9px) !important;
}
#app-mount .wrapper-3t9DeA foreignObject[width="120"]:after {
  top: calc(75% - 9px) !important;
  width: 18px !important;
  height: 18px !important;
}
#app-mount .wrapper-3t9DeA foreignObject[width="120"][mask*="mobile"]:after {
  height: 27px !important;
  top: calc(75% - 13.5px) !important;
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 46v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat !important;
  mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat !important;
  -webkit-transform: translateY(0%) !important;
  transform: translateY(0%) !important;
}

#app-mount .wrapper-3t9DeA svg.mask-1l8v16 > foreignObject {
  border-radius: 0% !important;
}
