  /*--------------------------*/
 /*-----<Root Variables>-----*/
/*--------------------------*/

:root {
  --borders-color-primary: var(--background-primary); /*Borders color for elements on primary background. Default - var(--background-primary)*/
  --borders-color-secondary: var(--background-secondary); /*Borders color for elements on secondary background. Default - var(--background-secondary)*/
  --borders-color-tertiary: var(--background-tertiary); /*Borders color for elements on tertiary background. Default - var(--background-tertiary)*/
  --borders-color-floating: var(--background-floating); /*Borders color for elements on floating background. Default - var(--background-floating)*/
  --borders-color-textarea: var(--channeltextarea-background); /*Borders color for elements on channel textarea background. Default - var(--channeltextarea-background)*/
  --borders-color-activity: #6c82cf; /*Borders color for elements on activity background. Default - #6c82cf*/
}

  /*---------------------------------*/
 /*-----<Buttons Border Shapes>-----*/
/*---------------------------------*/

#app-mount button,
#app-mount .layout-1qmrhw,
#app-mount .holidayPromotionSelectedBackground-irywjz,
#app-mount .content-1gYQeQ,
#app-mount .content-1Tgc42,
#app-mount .peopleListItem-u6dGxF:hover,
#app-mount .peopleListItem-u6dGxF.active-2UF8Zh,
#app-mount .applicationStreamingHoverText-ETJLXZ,
#app-mount .searchBar-3TnChZ .searchBarComponent-3N7dCG,
#app-mount .option-2KkUJO,
#app-mount .group-LWHoGI,
#app-mount .optionContainer-1FtykV,
#app-mount .button-3bklZh.selected-69H4ua,
#app-mount .labelContainer-2vJzYL,
#app-mount .tabBar-ra-EuL .item-3mHhwr,
#app-mount .friend-8ZraY7,
#app-mount .card-PQEqCK,
#app-mount .side-2ur1Qk .item-3XjbnG,
#app-mount .container-x8Y1ix,
#app-mount .container-30qY7E,
#app-mount .category-1PNLoM,
#app-mount .sizeSmall-2cSMqn,
#app-mount .sizeMedium-1AC_Sl,
#app-mount .sizeXlarge-2yFAlZ,
#app-mount .grow-q77ONN,
#app-mount .actionsStreamPreview-2JlX14 .buttonSize-2Pmk-w,
#app-mount .actionsUserPopout-2MrzCa .buttonSize-2Pmk-w,
#app-mount .actionsVoiceChannel-2Wte99 .buttonSize-2Pmk-w,
#app-mount .listeningActionsUserPopout-Ga2V_N .buttonSize-2Pmk-w,
#app-mount .listeningActionsVoiceChannel-1edvLq .buttonSize-2Pmk-w,
body .button-1iHNQ2,
#app-mount .button-3Ijpww,
#app-mount .button-3_1yil,
#app-mount .wrapper-2vIMkT,
#app-mount .lookGhost-2Fn_0-.colorGrey-2DXtkV,
#app-mount .copyInput-3AbKWB,
#app-mount .questionMark-CWEQZn,
#app-mount .inner-1lPVFp,
#app-mount .connectionDelete-XXTMqE,
#app-mount .diversityEmojiItem-2bgZKv,
#app-mount .gif-1EWTs-,
#app-mount .spoilerWarning-8ovW0v,
#app-mount .categoryFade-2EGqIh,
#app-mount .categoryFadeBlurple-1HuV1x,
#app-mount .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .react-datepicker__navigation.react-datepicker__navigation--previous,
#app-mount .react-datepicker__week:first-of-type .react-datepicker__day:first-of-type,
#app-mount .react-datepicker__week:first-of-type .react-datepicker__day:last-of-type,
#app-mount .react-datepicker__week:last-of-type .react-datepicker__day:first-of-type,
#app-mount .react-datepicker__week:last-of-type .react-datepicker__day:last-of-type,
#app-mount .hintValue-1x-flY,
#app-mount .result-3OpoO7,
#app-mount .result-3OpoO7::after,
#app-mount .sourceThumbnail-3n4cjJ,
#app-mount .categoryItem-1sHzUv,
#app-mount .tab-2j5AEF,
#app-mount .button-cfOvv-,
#app-mount .jumpButton-1ZwI_j,
#app-mount .jumpButton-1V_1FA,
#app-mount .result-u66Ywh,
#app-mount .button-1_oXub,
#app-mount .addMembersIcon-2xvix1,
#app-mount .addMemberRow-KVhQFf,
#app-mount .item-1BCeuB,
#app-mount .memberListItem-3V-x8Q,
#app-mount .categoryPill-1zjNrr,
#app-mount .rowInner-3uonq8,
#app-mount .topPill-3DJJNV .item-3XjbnG,
#app-mount .selectableItem-3-fmiM,
#app-mount .selectable-1MM9tu,
#app-mount .button-3Vyz67,
#app-mount .button-Jt-tIg,
#app-mount .attachPopoutRow-3uEL0J,
#app-mount .tierMarkerLabelText-1wk8KK,
#app-mount .reactionDefault-1Sjj1f,
#app-mount .reactionSelected-1aMb2K,
#app-mount .colorPickerSwatch-RTUGRR.default-3ISV7m,
#app-mount .colorPickerSwatch-RTUGRR.custom-1Up2lr,
#app-mount .colorPickerSwatch-RTUGRR,
#app-mount .swatch-3mFIiP,
#app-mount .swatch-35F5kl,
#app-mount .stickerCategory-2f6iSo,
#app-mount .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3,
#app-mount .labelContainer-2vJzYL,
#app-mount .item-1OdjEX,
#app-mount .wrapper-3Rixsz,
#app-mount .memberListItem-31QoHj,
#app-mount .content-3xS9Lh,
#app-mount .section-Dep3No,
#app-mount .remove-19AQn_,
#app-mount .wrapper-1wwiGV,
#app-mount .streamerModeEnabledBtn-2nlJTD,
#app-mount .selectGuild-1Ygl76,
#app-mount .memberRow-1FhJgR,
#app-mount .exampleRule-3gJ39X,
#app-mount .fakeButton-3RWbMY,
#app-mount .bd-button,
#app-mount .bd-addon-list .bd-card-footer button,
#app-mount #bd-editor-controls button,
#app-mount #bd-pub-button,
#app-mount #bd-settings-sidebar .ui-tab-bar-item,
#app-mount #bd-settingspane-container .bd-pfbtn,
#app-mount .vz-dashboard-sidebar-auxillary-icon-wrapper,
#app-mount .vz-docs-components-icons-icon-wrapper,
#app-mount .vz-aside-nav-collapser,
#app-mount .kernel-card-tools,
#app-mount .bd-toolbar,
#app-mount .channelTabs-selected,
#app-mount .replyer,
#app-mount .styledGuildsAsChannels-DNHtg_ .wrapper-1Rf91z .wrapper-3kah-n,
#app-mount .styledGuildsAsChannels-DNHtg_ .wrapper-1Rf91z .circleIconButton-jET_ig,
#app-mount #EditUploadsToolbar .tool,
#app-mount .listRow-hutiT_,
#app-mount .header-145e10 .tab-TRrPC8,
#app-mount #pubslayer .ui-tab-bar-item,
#app-mount .ksu-git-info-item,
#app-mount #permissions-modal-wrapper .role-item {
  border-radius: var(--borders-buttons-rounded) !important;
}
#app-mount .item-2OyinQ,
#app-mount .button-3bklZh:hover,
#app-mount .passthrough--fbdFR,
#app-mount .bd-footer .bd-addon-button {
  border-radius: 0;
}
#app-mount .deny-1GO6vI,
#app-mount .item-2OyinQ:first-child,
#app-mount .pageButtonNext-2_bbdk,
#app-mount .bd-footer .bd-addon-button:first-child {
  border-radius: var(--borders-buttons-rounded) 0 0 var(--borders-buttons-rounded);
}
#app-mount .allow-1h61-Z,
#app-mount .item-2OyinQ:last-child,
#app-mount .pageButtonPrev-3q9rh8,
#app-mount .bd-footer .bd-addon-button:last-child {
  border-radius: 0 var(--borders-buttons-rounded) var(--borders-buttons-rounded) 0;
}
#app-mount .option-2eIyOn:last-child,
#app-mount .newMessagesBar-1hF-9G,
#app-mount .container-1ILvLB section {
  border-radius: 0 0 var(--borders-buttons-rounded) var(--borders-buttons-rounded);
}
#app-mount .jumpToPresentBar-1cEnH0 {
  bottom: -8px;
  padding-bottom: 16px;
}
#app-mount .form-3gdLxP::before {
  left: -4px;
}
#app-mount .jumpToPresentBar-1cEnH0,
#app-mount .messagesErrorBar-1IQ1rH {
  border-radius: var(--borders-buttons-rounded) var(--borders-buttons-rounded) 0 0;
}
#app-mount .controlButton-2PMNom foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-buttons-rounded);
}
#app-mount .splashBackground-6P4u0V::before,
#app-mount .winButton-3UMjdg:nth-child(4) {
  border-radius: 0 0 0 calc(var(--borders-buttons-rounded) / 2);
}
#app-mount .closeButton-PCZcma,
#app-mount .actionButton-3-B2x-,
#app-mount .actionButton-1YKTU0,
#app-mount .wrapper-x4po40,
#app-mount .centerButton-1IShs7,
#app-mount .contextMenuNub-NuTZ_U,
#app-mount .button-1zW0-r,
#app-mount .button-1yVL_7,
#app-mount .editButton-2SLR4j,
#app-mount .powercord-quickcss-editor-settings .close,
#app-mount .roundButton-2_R5PN,
#app-mount .channelTabs-newTab {
  border-radius: var(--borders-buttons-circle) !important;
}
#app-mount .contextMenuContainer-1RO4DQ foreignObject[mask="url(#svg-mask-channel-call-control-button)"] {
  -webkit-mask: none;
          mask: none;
}
  /*-----------------------------------------*/
 /*-----<Switching Stuff Border Shapes>-----*/
/*-----------------------------------------*/

#app-mount .container-2nx-BQ,
#app-mount .bd-switch-body,
#app-mount .bd-switch-body::after {
  border-radius: var(--borders-switches);
}
.bd-switch-body .bd-switch-slider .bd-switch-handle {
  border-radius: var(--borders-switches);
  rx: var(--borders-switches);
}
#app-mount .slider-32CRPX rect {
  rx: var(--borders-switches);
}
#app-mount .checkbox-f1HnKB,
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d span,
#bd-editor-controls .checkbox-1ycfTw .checkboxInner-1aRh1d span {
  border-radius: var(--borders-checkboxes);
}

  /*-----------------------------------*/
 /*-----<Bar Stuff Border Shapes>-----*/
/*-----------------------------------*/

#app-mount .bar-1Bhnl9,
#app-mount .mediaBarInteractionVolume-zGrOSh,
#app-mount .hue-2nWTuO > div > div,
#app-mount .barFill-Dhkah7,
#app-mount .bar-g2ZMIm {
  border-radius: var(--borders-slider-bars);
}
#app-mount .fakeEdges-18N907::before {
  border-radius: var(--borders-slider-bars) 0 0 var(--borders-slider-bars);
}
#app-mount .fakeEdges-18N907::after {
  border-radius: 0 var(--borders-slider-bars) var(--borders-slider-bars) 0;
}
#app-mount .grabber-2GQyvM,
#app-mount .mediaBarGrabber-FvJKJg,
#app-mount .mini-2qY9iv .grabber-2GQyvM,
#app-mount .hue-2nWTuO > div > div > div > div,
#app-mount .saturation-CLQHFD > div > div > div > div,
#app-mount .grabber-7sd5f5,
#app-mount .spotify-in-discord-player-seek-bar-cursor {
  border-radius: var(--borders-slider-grabbers) !important;
}
#app-mount .bar-1GpknY,
#app-mount .barInner-3dHef4,
#app-mount .userSettingsVoice-1_dzjw .inputSensitivityToggle-oHALdO .sliderBar-2T41Pw,
#app-mount .small-Q4fy6o,
#app-mount .xsmall-2nFcgN,
#app-mount .bar-1g-wqp {
  border-radius: var(--borders-progress-bars);
}

  /*--------------------------------*/
 /*-----<Inputs Border Shapes>-----*/
/*--------------------------------*/

#app-mount .wrapper-1cBijl,
#app-mount .tag-15zcD_,
#app-mount .input-2z42oC,
#app-mount .input-1nrc5P,
#app-mount .inputDefault-3FGxgL,
#app-mount .container-2oNtJn,
#app-mount .inner-2pOSmK,
#app-mount .textarea-_59yqs,
#app-mount .note-QfFU8y textarea,
#app-mount .input-3r5zZY,
#app-mount .searchBar-zdmu7v,
#app-mount .searchBar-2M9mRP,
#app-mount .search-3eDkEO,
#app-mount .channelTextArea-1VQBuV,
#app-mount .scrollableContainer-15eg7h:not(.hasConnectedBar-1vN2JH),
#app-mount .search-25t1e9 .searchBox-31Zv9h,
#app-mount .search-1FM8Qc .DraftEditor-root .DraftEditor-editorContainer,
#app-mount .searchFilter-2UfsDk,
#app-mount .searchAnswer-23w-CH,
#app-mount .container-1SX9VC,
#app-mount .input-2g-os5,
#app-mount .channelTextArea-1VQBuV.highlighted-1sGU_w,
#app-mount .phoneVerificationModal-3OHeBt .field-3rN-Ip,
#app-mount .gameNameInput-3TuPuA,
#app-mount .input-3NIgDw,
#app-mount .bd-search-wrapper,
#app-mount .container-3AL15u,
#app-mount #pubslayer input {
  border-radius: var(--borders-inputs);
}
#app-mount .container-A2jo65 + .scrollableContainer-15eg7h,
#app-mount .scrollableContainer-15eg7h.hasConnectedBar-1vN2JH {
  border-radius: 0 0 var(--borders-inputs) var(--borders-inputs);
}
#app-mount .attachedBars-2BCP3l {
  border-radius: var(--borders-inputs) var(--borders-inputs) 0 0;
}
#app-mount .replyBar-1oi75v,
#app-mount .threadSuggestionBar-3ExSyc {
  background-color: transparent;
}

  /*---------------------------------*/
 /*-----<Windows Border Shapes>-----*/
/*---------------------------------*/

#app-mount .menu-1QACrS {
  border-radius: var(--borders-contexts);
}
#app-mount .userPopout-2j1gM4,
#app-mount .accountProfileCard-lbN7n-,
#app-mount .profileBannerPreview-3_l0Wd,
#app-mount .profileBannerPreview-3mLIdO,
#app-mount #status-picker,
#app-mount .lookFilled-1h1y05.popout-2sKjHu,
#app-mount .sizeMedium-6vZ9JV.select-1Pkeg4,
#app-mount .emojiPicker-6YCk8a,
#app-mount .popoutContainer-2wbmiM,
#app-mount .container-20TyK0,
#app-mount .messagesPopoutWrap-3zryHW,
#app-mount .container-2ebMPP,
#app-mount .contentWrapper-3vHNP2,
#app-mount .diversitySelectorPopout-3FiGaM,
#app-mount .autocomplete-3l_oCd,
#app-mount .toolbar-37BrJ5,
#app-mount .container-2McqkF,
#app-mount .container-1ILvLB,
#app-mount .noiseCancellationPopout-2-e5Xz,
#app-mount .scroller-2TWLdF,
#app-mount .container-8Futzw,
#app-mount .pictureInPictureWindow-3ms5Zy,
#app-mount .pictureInPictureVideo-2puO2Q,
#app-mount .streamPreview-3qoMP4,
#app-mount .container-3JTnYm,
#app-mount .addGamePopout-3yePJc,
#app-mount .autocompleteShadow-2nfsSy,
#app-mount .container-1S70rv,
#app-mount .popoutList-10IFAa,
#app-mount .viewAsRolesWarning-1lkgoG,
#app-mount .container-3LUQwT,
#app-mount .popout-3Zw0qN,
#app-mount .container-1xm7vq,
#app-mount .container-2dXT_2,
#app-mount .container-2O1UgZ,
#app-mount .container-18GwIk,
#app-mount .attachPopout-1EnBVV,
#app-mount .quickSelectPopout-2F0PXw,
#app-mount .popout-AVsFMl,
#app-mount .outerWrapper-3UdjNj,
#app-mount .everyonePopout-nEbJY3,
#app-mount .guildPopout-G6M0fK,
#app-mount .bd-select,
#app-mount .bd-select-transparent .bd-select-options,
#app-mount .bf-toolbar::before,
#app-mount .themedPopout-1TrfdI {
  border-radius: var(--borders-popouts);
}
#app-mount .banner-hcPdsd,
#app-mount .banner-3D8GgT,
#app-mount .css-6fzn47-control,
#app-mount .css-1adxh11-control,
#app-mount .header-2C89wJ,
#app-mount .bd-select.menu-open,
#app-mount #inputContext > div.css-dwar6a-menu,
#app-mount #inputContext > div.css-dwar6a-menu > div {
  border-radius: var(--borders-popouts) var(--borders-popouts) 0 0;
}
#app-mount .categoryList-2qRrlj {
  border-radius: 0 0 0 var(--borders-popouts);
}
#app-mount .positionTop-3SXWNj .sectionTag-28mLyE {
  border-radius: 0;
}
#app-mount .root-SR8cQa,
#app-mount .root-g14mjS,
#app-mount .root-1e2tfc,
#app-mount .oauth2Wrapper-p_8bbd,
#app-mount .quickswitcher-pKcM9U,
#app-mount .modal-2RrUKJ,
#app-mount .small-23Atuv,
#app-mount .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF,
#app-mount .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS,
#app-mount .uploadModal-2ie9O_,
#app-mount .keyboardShortcutsModal-2CRmCm,
#app-mount .bannedUserModal-3RJCOV,
#app-mount .exampleModal-2X2Vf8,
#app-mount .exampleModal-1lRfuE,
#app-mount .exampleContainer-2O-nVK,
#app-mount .bd-modal-wrapper .bd-modal-inner,
#app-mount .pc-quickcss,
#app-mount .beef-quickcss-editor,
#app-mount #EditUploadsModal,
#app-mount #permissions-modal-wrapper #permissions-modal {
  border-radius: var(--borders-modals);
}
#app-mount .header-1zd7se,
#app-mount .backgroundImage-3LwoVx {
  border-radius: var(--borders-modals) var(--borders-modals) 0 0;
}
#app-mount .footer-31IekZ,
#app-mount .footer-3Gu_Tl {
  border-radius: 0 0 var(--borders-modals) var(--borders-modals);
}
#app-mount .contentWrapper-3oy4Xo,
#app-mount .overviewSidebar-3JDLaJ {
  border-radius: var(--borders-modals) 0 0 var(--borders-modals);
}
#app-mount .inviteSplash-2Q0PLE {
  border-radius: 0 var(--borders-modals) var(--borders-modals) 0;
}

  /*------------------------------------*/
 /*-----<Card Stuff Border Shapes>-----*/
/*------------------------------------*/

#app-mount .cardPrimary-3qRT__,
#app-mount .cardPrimaryEditable-2mz_3i,
#app-mount .cardPrimaryOutline-1ofwVz,
#app-mount .cardPrimaryOutlineEditable-1VE28Z,
#app-mount .radioBar-3w9XY-,
#app-mount .item-2idW98,
#app-mount .css-gvi9bl-control,
#app-mount .css-17e1tep-control,
#app-mount .css-118dehu-control,
#app-mount .css-12hk9yc-control,
#app-mount .css-1emou8a-control,
#app-mount .cardHeader-1kPMOm,
#app-mount .select-1Ia3hD,
#app-mount .tile-2TcwiO,
#app-mount .border-2Vy6FN,
#app-mount .emptyCard-KDifrB,
#app-mount .emptyHintCard-3Btf0V,
#app-mount .outer-2JOHae,
#app-mount .inset-SbsSFp,
#app-mount .section-3G9aLW,
#app-mount .messageGroupWrapper-1jf_7C,
#app-mount .messageContainer-3VTXBC,
#app-mount .messages-23can0,
#app-mount .message-G6O-Wv,
#app-mount .searchResult-O9NDji,
#app-mount .tutorial-Nb3Zz5,
#app-mount .containerUserOver-SDa1HW::after,
#app-mount .overlayTitle-2efoIF,
#app-mount .root-cw9rWQ,
#app-mount .container-3jbRo5,
#app-mount .container-1IyjjY,
#app-mount .background-3d_SjE,
#app-mount .fieldList-in8WkP,
#app-mount .accountList-305sx3,
#app-mount .connection-107AGH,
#app-mount .connectedAccount-36nQx7,
#app-mount .codeRedemptionRedirect-3SBiCp,
#app-mount .wrapper-3nSjSv,
#app-mount .emptyContainer-poti7J,
#app-mount .detailsTooltip-G9hSSa .icon-hSL42R,
#app-mount .banner-1oXqOF,
#app-mount .feature-2IUcBI,
#app-mount .cardWrapper-CyvwQv,
#app-mount .tier-1EY-yj,
#app-mount .membershipDialog-2wAdpQ,
#app-mount .option-1QI4c9,
#app-mount .card-2gdrYL,
#app-mount .card-2TuZPZ,
#app-mount .container-1wv6C6,
#app-mount .card-16VQ8C,
#app-mount .card-1SdQ2-,
#app-mount .activeGame-3ncS55,
#app-mount .card-2ART2V::before,
#app-mount .container-3EtAkD,
#app-mount .roleRow-3LoHQ6,
#app-mount .saturation-CLQHFD > div,
#app-mount .saturation-CLQHFD > div > div,
#app-mount .featureCard-1RR4Tl,
#app-mount .settingCard-xZSDjS,
#app-mount .auditLog-3jNbM6,
#app-mount .header-GwIGlr,
#app-mount .descriptionBox-1EKQKL,
#app-mount .ctaBar-2UsjF2,
#app-mount .perksList-1vtwXn,
#app-mount .perks-38PVEp,
#app-mount .perk-2WeBWW,
#app-mount .actions-10aT1z,
#app-mount .channelContainer-3YAhb_,
#app-mount .upsellContainer-3UlEOE,
#app-mount .upsellFooter-1H_OCF,
#app-mount .existingSlotNotice-1KvWSb,
#app-mount .optionContainer-yOpaLq,
#app-mount .wrapper-2SplAX,
#app-mount .attachment-1PZZB2,
#app-mount .wrapper-1HIH0j,
#app-mount .invite-3uuHYQ,
#app-mount .tile-2mmK5T,
#app-mount .placeholder-2erB-x,
#app-mount .tips-39ZVzW,
#app-mount .attachment-16cAbS,
#app-mount .upsellContainer-L9xv7w,
#app-mount .error-3AuLwi,
#app-mount .developerPortalCtaWrapper-2XNafh,
#app-mount .checklistContainer-mFJZEJ,
#app-mount .card-3_CqkU,
#app-mount .container-2w0lh0,
#app-mount .welcomeChannel-1rFrIO,
#app-mount .image-875dAk [style="padding: 8px; border-radius: 4px; background: rgb(255, 255, 255);"],
#app-mount .detailsBlock-FoDTGA,
#app-mount .enableContainer-1J91Aq,
#app-mount .settingsFormItem-25zW3t,
#app-mount .getStartedWrapper-2mNX-j,
#app-mount .wrapperBase-dMTjVZ,
#app-mount .table-17_dGF,
#app-mount .guild-Hq0WWA,
#app-mount .bumpBox-1Pp4td,
#app-mount .paymentPane-ut5qKZ,
#app-mount .tier-3CS7-p,
#app-mount .giftContainer-1X7m0c,
#app-mount .holidayHeroContainer-11fdxG,
#app-mount .expandedInfo-1W31i3,
#app-mount .rowWrapper-N-4fji,
#app-mount .row-2qQ--F,
#app-mount .content-1W9-9i,
#app-mount .warning-209nzt,
#app-mount .optionBox-1UOevl,
#app-mount .qrCode-2R7t9S,
#app-mount .authBox-1HR6Ha,
#app-mount .bd-server-card,
#app-mount .card-x5zW6z,
#app-mount .video-31SuuY,
#app-mount .powercord-toast .contents .inner,
#app-mount .powercord-entities-manage-tabs,
#app-mount .vz-dashboard-home-features-card,
#app-mount .vz-c-settings-category,
#app-mount .vz-addons-list-sticky-bar-wrapper,
#app-mount .vz-addon-card,
#app-mount .vz-markdown-table,
#app-mount .vz-error-boundary-block,
#app-mount .vz-updater-update,
#app-mount .gm-store-card,
#app-mount .kernel-card,
#app-mount .ksu-card,
#app-mount .bd-addon-card,
#app-mount .pc-settings-addon-card,
#app-mount .pcu-card,
#app-mount .ysink_zone_card,
#app-mount .listRow-hutiT_,
#app-mount .spotify-in-discord-modal-track,
#app-mount .spotify-in-discord-embed-song-history-grid-row {
  border-radius: var(--borders-cards) !important;
}
#app-mount .sticker-H2HhJD foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-cards);
}
#app-mount .connectionHeader-2rV1ze,
#app-mount .tierHeader-rlkkJd,
#app-mount .tierHeader---JJFb,
#app-mount .tierHeader-3q9jIw,
#app-mount .container-A2jo65,
#app-mount .upsellContent-1JlpHe,
#app-mount .enableContainer-6E-puu,
#app-mount .section-18Kw3M:first-child,
#app-mount .vz-updater-top-section-header,
#app-mount .vz-component-preview-tabs-inner,
#app-mount .gm-store-card > :nth-child(1) {
  border-radius: var(--borders-cards) var(--borders-cards) 0 0 !important;
}
#app-mount .open-1FRZsK {
  border-radius: var(--borders-cards) var(--borders-cards) 0 0 !important;
  transition: 0.1s ease-out;
}
#app-mount .tier#app-mount-x9kBBp,
#app-mount .popout-1KHNAq,
#app-mount .tier#app-mount-16Chc9,
#app-mount .tierBody-1d3UiS,
#app-mount .css-1ye7vu0,
#app-mount .css-ix84ef-menu,
#app-mount .css-3vaxre-menu,
#app-mount .cardFolder-3H4uH4,
#app-mount .upsellFooter-ZYsio_,
#app-mount .previewContainer-1SS3uO,
#app-mount .section-18Kw3M:last-child,
#app-mount .tierBody-16Chc9,
#app-mount .bd-select .bd-select-options,
#app-mount .vz-updater-top-section-footer,
#app-mount .vz-component-preview-inner,
#app-mount #inputContext > div.css-6fzn47-control {
  border-radius: 0 0 var(--borders-cards) var(--borders-cards);
}
#app-mount .checklistHeader-1KWcEY {
  border-radius: var(--borders-cards) 0 0 var(--borders-cards);
}
#app-mount .coverImageWrapper-2wx5q1 {
  border-radius: 0 var(--borders-cards) var(--borders-cards) 0 !important;
}
#app-mount .applicationStreamingPreviewWrapper-7j27t8,
#app-mount .image-1YnNzZ,
#app-mount .image-2dAEjD,
#app-mount .upload-3GTSF9,
#app-mount .banner-3Kac2g,
#app-mount .promotionBanner-1fCSab,
#app-mount .image-2WjK2f,
#app-mount .content-s2SEQO img,
#app-mount .featureStickers-Pc_FBx .stickerImageSection-7EUs8E,
#app-mount .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ-.image-2ssF8k,
#app-mount .embedImage-2Ynqkh img,
#app-mount .embedThumbnail-2nTasl img,
#app-mount .embedMedia-1mdWSP,
#app-mount .container-1_ClKi p > img,
#app-mount .imageWrapper-oMkQl4,
#app-mount .imageWrapper-oMkQl4 img,
#app-mount .video-2HW4jD,
#app-mount .videoWrapper-1_H3B3,
#app-mount .embedImage-2Ynqkh video,
#app-mount .embedThumbnail-2nTasl video,
#app-mount .embedVideo-2ixt5A video,
#app-mount .embedVideo-2ixt5A img,
#app-mount .video-1FESK-,
#app-mount .video-jTm9kN,
#app-mount .video-jTm9kN > a,
#app-mount .video-jTm9kN > iframe,
#app-mount .wrapperAudio-1Bzv_Z,
#app-mount .wrapperControlsHidden-2BK8R2,
#app-mount .wrapperPaused-9B8znP,
#app-mount .wrapperPlaying-1D8LD-,
#app-mount .wrapperAudio-1Bzv_Z,
#app-mount .audioControls-3fmemK,
#app-mount .splashContainer-1rUZiJ,
#app-mount .header-180QBG,
#app-mount .footer-3Zgy_M,
#app-mount .root-1q0s4N,
#app-mount .item-g96i1Z,
#app-mount .overlappingBorder-3w2saF,
#app-mount .storePaginationImg-1ZeW52,
#app-mount .assetWrapper-1Cntea,
#app-mount .stickerAsset-4c7Oqy,
#app-mount .suggestedExpression-1VH76n > svg,
#app-mount .suggestedExpression-1VH76n,
#app-mount .bd-changelog-modal video,
#app-mount [vz-previews] .vz-addon-card-previews-empty,
#app-mount [vz-previews] .vz-addon-card .smallCarousel-20QIi8,
#app-mount [vz-previews] .vz-addon-card .smallCarousel-20QIi8 .smallCarouselItem-32wSyS,
#app-mount .qi-image-img {
  border-radius: var(--borders-media);
}
#app-mount .suggestedExpression-1VH76n > svg > foreignObject {
  mask: none;
}
#app-mount .roundedMask-3TECMv foreignObject,
#app-mount .assetWrapperMasked-1iw9lV,
#app-mount .inspectedIndicator-27zwNZ {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-media);
}
#app-mount .hero-1aNo0v,
#app-mount .headerImage-2D5D-v,
#app-mount .headerImage-1c8Lrb {
  border-radius: 0;
  transform: scale(1.01);
  clip-path: inset(0.5% round var(--borders-media));
}
#app-mount [src="/assets/5fb477ca84edd15d9a2888ac28365acd.svg"] {
  border-radius: 0;
  transform: scale(1.01);
  clip-path: inset(0.5% 8% round var(--borders-media));
}
#app-mount .userSettingsVoice-1_dzjw .previewContainer-37c2Si,
#app-mount .userSettingsVoice-1_dzjw .media-engine-video,
#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf,
#app-mount .editingContainer-3s5xK0,
#app-mount .cameraPreview-2_ITfQ,
#app-mount .wrapper-SdcMKg,
#app-mount .preview-rua1rr,
#app-mount .previewContainer-1xQAsw,
#app-mount .exampleContainer-25sB-A {
  border-radius: var(--borders-previews);
}

  /*--------------------------------------*/
 /*-----<Server Stuff Border Shapes>-----*/
/*--------------------------------------*/

#app-mount .childWrapper-1j_1ub,
#app-mount .svg-2zuE5p,
#app-mount .icon-3AqZ2e,
#app-mount .wrapper-28eC3z,
#app-mount .wrapper-28eC3z foreignObject,
#app-mount .circleIconButton-jET_ig,
#app-mount .guildIcon-1nnIAv foreignObject,
#app-mount .categoryItemGuildCategory-3mvXlo foreignObject,
#app-mount .mask-1hlQQ6 foreignObject,
#app-mount .guildIcon-2SUGiq,
#app-mount [mask="url(#svg-mask-squircle)"],
#app-mount .avatarUploaderInner-yEhTv5[style^="background-image: url(\"https://cdn.discordapp.com/icons"],
#app-mount .popout-server-search .image-33JSyf {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-servers-default);
  transition: 0.1s ease-out;
}
#app-mount .avatar-b5OQ1N[src^="https://cdn.discordapp.com/icons/"]{
    border-radius: var(--borders-servers-default) !important;
}
#app-mount .avatarUploaderInner-yEhTv5 :not(.banner-hcPdsd),
#app-mount .avatarUploaderInner-yEhTv5.avatarUploaderInner-3SDRO_,
#app-mount .iconSizeMedium-2vzSua,
#app-mount .iconActiveMedium-27_R5B,
#app-mount .iconActiveLarge-ac-EDu,
#app-mount .iconActiveLarger-2EZc1b,
#app-mount .iconInactive-26M06U,
#app-mount .guild-J3Egt5,
#app-mount .filledIcon-2TG9HI,
#app-mount .guildIcon-nSLcmS,
#app-mount .guildIcon-1cwo09,
#app-mount .guildIcon-EvT-p6,
#app-mount .guildIcon-uYC13g,
#app-mount .guildsError-b7zR5H,
#app-mount .circleIconButton-1QV--U,
#app-mount .iconContainer-6xlTpK,
#app-mount .bd-server-icon {
  border-radius: var(--borders-servers-default);
}
#app-mount .voiceSectionAssets-1dg-E5,
#app-mount .voiceSectionGuildImage-TctMOd,
#app-mount .voiceSectionNoGuildImageWrapper-17kLyh {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-servers-default);
}
#app-mount .avatarMask-A65G5R foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--borders-servers-default);
}
#app-mount .avatarMask-A65G5R,
#app-mount .avatar-1-pIh6 {
  box-shadow: 0 0 0 4px var(--borders-color-primary);
  border-radius: var(--borders-servers-default);
}
#app-mount .wrapper-28eC3z foreignObject {
  overflow: visible;
}
#app-mount .selected-1Drb7Z .childWrapper-1j_1ub,
#app-mount .selected-1Drb7Z .icon-3AqZ2e,
#app-mount .circleIconButton-jET_ig.selected-ugP_am {
  border-radius: var(--borders-servers-interactive);
  transition: 0.1s ease-out;
}
#app-mount .folder-241Joy,
#app-mount .folderIconWrapper-1oRIZr {
  border-radius: calc(var(--borders-folders) - 10px);
}
#app-mount .expandedFolderBackground-1kSAf6 {
  border-radius: var(--borders-folders);
}

  /*--------------------------------------*/
 /*-----<Avatar Stuff Border Shapes>-----*/
/*--------------------------------------*/

#app-mount .wrapper-1VLyxH foreignObject,
#app-mount .avatarHint-k7pYop foreignObject,
#app-mount .avatarContainerMasked-13fYnN foreignObject,
#app-mount .avatarUploaderInner-yEhTv5[style^="background-image: url(\"https://cdn.discordapp.com/avatars"],
#app-mount .callAvatarMask-fiNMWy foreignObject,
#app-mount .viewer-1av623 {
  -webkit-mask: none !important;
          mask: none !important;
  border-radius: var(--borders-avatars);
}

#app-mount .wrapper-1VLyxH rect {
  x: calc(100% - 8px);
  y: calc(50% - 4px);
  width: 8px;
  height: 8px;
}

#app-mount .wrapper-1VLyxH rect[mask*="mobile"] {
  height: 14px;
  y: calc(50% - 7px);
}

#app-mount .wrapper-1VLyxH rect[width="6"] {
  x: calc(100% - 5px);
  y: calc(50% - 2.5px);
  width: 5px;
  height: 5px;
}

#app-mount .wrapper-1VLyxH rect[width="6"][mask*="mobile"] {
  height: 8px;
  y: calc(50% - 4px);
}

#app-mount .wrapper-1VLyxH rect[width="8"] {
  x: calc(100% - 6px);
  y: calc(50% - 3px);
  width: 6px;
  height: 6px;
}

#app-mount .wrapper-1VLyxH rect[width="8"][mask*="mobile"] {
  height: 11px;
  y: calc(50% - 5.5px);
}

#app-mount .wrapper-1VLyxH rect[width="16"] {
  x: calc(100% - 12px);
  y: calc(75% - 6px);
  width: 12px;
  height: 12px;
}

#app-mount .wrapper-1VLyxH rect[width="16"][mask*="mobile"] {
  height: 18px;
  y: calc(75% - 9px);
}

#app-mount .wrapper-1VLyxH rect[width="24"] {
  x: calc(100% - 18px);
  y: calc(75% - 9px);
  width: 18px;
  height: 18px;
}

#app-mount .wrapper-1VLyxH rect[width="24"][mask*="mobile"] {
  height: 27px;
  y: calc(75% - 13.5px);
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ {
  display: none;
}

#app-mount .avatarMasked-qX7NI7 {
  -webkit-mask: none;
          mask: none;
}

rect[mask*="typing"] {
  fill: white;
}

#app-mount .replyAvatar-sHd2sU,
#app-mount .avatarSpeaking-33RRJU,
#app-mount .border-2BJQjd,
#app-mount .voiceAvatar-lRbblo,
#app-mount .avatar-3FKimL,
#app-mount .ringingIncoming-fibTw-:after,
#app-mount .wrapper-3mYmFS.ringingOutgoing-1NjfRn:after,
#app-mount .avatarUploaderInner-yEhTv5.avatarUploaderInner-Oiob_P,
#app-mount .avatarUploaderInner-yEhTv5.avatarUploaderInner-KkYu-S,
#app-mount .outerContainer-3ntx-E,
#app-mount .innerContainer-NMAjqA,
#app-mount .displayAvatar-3XS1w6,
#app-mount .embedAuthorIcon-3pnkS4,
#app-mount .avatarMasked-qX7NI7,
#app-mount .avatarHint-k7pYop,
#app-mount .avatarContainer-3FF_Km,
#app-mount .avatar-rC0Atp,
#app-mount .avatar-3TrM7c,
#app-mount .avatar-2Vndt_,
#app-mount .avatar-2cQIlq,
#app-mount .avatar-3XmvJx,
#app-mount .avatar-2e8lTP,
#app-mount .avatar-3QF_VA,
#app-mount .avatar-3mTjvZ,
#app-mount .appAvatar-2_lufo,
#app-mount .contentCircle-15IFyT,
#app-mount .contentCircle-15IFyT .gifIconContainer-3os21a,
#app-mount .threadMessageAccessoryAvatar-17qE_g,
#app-mount .viewers-15Alqi .overflow-W0reYu,
#app-mount .StatusEverywhere-avatar-userPopout,
#app-mount .card-x5zW6z .iconWrapper-eK7GO6,
#app-mount .card-x5zW6z .icon-0jmVrJ,
#app-mount .gm-store-card .title-2dsDLn img {
  border-radius: var(--borders-avatars) !important;
}

  /*-------------------------------*/
 /*-----<Icons Border Shapes>-----*/
/*-------------------------------*/

#app-mount .divider-2BCfFf,
#app-mount .assetsLargeImage-8U5dlz,
#app-mount .fakeActivityIcon-KeXVoI,
#app-mount .large-jYBVQ0,
#app-mount .medium-1vKkpm,
#app-mount .headerIcon-2ra-HY,
#app-mount .small-1P4vlo,
#app-mount .badge-3RBqXG,
#app-mount .partyMemberOverflow-3G1oZz,
#app-mount .wrapper-pZmgj4,
#app-mount .content-s2SEQO ul li::before,
#app-mount .pillIcon-1OYf40,
#app-mount .emojiContainer-1u-_sQ,
#app-mount .featureIcon-34uFg2,
#app-mount .icon-10cLkJ,
#app-mount .activitySectionAssets-1wpe42 .largeImage-2EIggm,
#app-mount .multipleIconWrapper-2YHnS6,
#app-mount .replyBadge-LMm_Ic,
#app-mount .playPausePop-1x3uED,
#app-mount .helpIcon-24pk1Z,
#app-mount .avatarUploaderIndicator-2G-aIZ,
#app-mount .questionMark-3V9mGJ,
#app-mount .tutorialIcon-25VF3Q,
#app-mount .spinner-2OWD4A,
#app-mount .spinner-2bMWLW,
#app-mount .wrapper-pZmgj4a,
#app-mount .emptyChannelIcon-1YdEz2,
#app-mount .iconWrapper-3plkqh,
#app-mount .checkmark-bW9BK8,
#app-mount .houseLogoWrapper-1qaDCg,
#app-mount .quizResultLogoWrapper-3IqnIS,
#app-mount .premiumLogo-1D3iJc,
#app-mount .tier-8XCwAc,
#app-mount .tierMarker-Vw1C95,
#app-mount .featureIcon-3p1TC_,
#app-mount .artwork-28Cmnt,
#app-mount .status-15kcmy,
#app-mount .tierMarkerBackground-G8FoN4,
#app-mount .icon-2DGsye,
#app-mount .dotSeparator-2N42Ni,
#app-mount .dotSeparator-vID2Hz,
#app-mount .dotOnline-j08lOY,
#app-mount .dotOffline-38lJFn,
#app-mount .status-JIDx3x,
#app-mount .dot-1Pc0es,
#app-mount .channelIcon-QyaRxN,
#app-mount .checklistIcon-6Kez2J .checkbox-f1HnKB,
#app-mount .iconWrapper-2JyIpA,
#app-mount .iconWrapper-lS1uig,
#app-mount .stepIndex-Kqaht-,
#app-mount .memberDot-y8-JHF,
#app-mount .iconCircle-1hb_lD,
#app-mount .iconCircle-36YzEX,
#app-mount .icon-1_mnkD,
#app-mount .dot-10cPg0,
#app-mount .circle-1ceChx,
#app-mount .dot-FpbcxH,
#app-mount .audienceVoiceUserIconContainer-1aQGLF,
#app-mount .fakeActivityIcon-30ykyj,
#app-mount .toast-icon,
#app-mount .previewContainer-1GxmBJ,
#app-mount .roleIcon-3-WL_I,
#app-mount .roleIcon-zWuatl,
#app-mount .bd-server-icon,
#app-mount .bd-server-count-dot,
#app-mount .vz-dashboard-home-cta-content-icon-wrapper.vz-icon-wrapper,
#app-mount .vz-dashboard-home-features-icon-wrapper.vz-icon-wrapper,
#app-mount .vz-addon-card-icon-img,
#app-mount [vz-addon-icon] .label-2gNW3x::before,
#app-mount .vz-updater-update-icon-wrapper,
#app-mount .ServerFolders-modal .iconSwatch-_78Ghj,
#app-mount .unownedStickerLockContainer-Nzx_oS,
#app-mount .coverWrapper-YAplwJ,
#app-mount .maximizer-RVu85p {
  border-radius: var(--borders-icons-default) !important;
}
#app-mount .assetsLargeImageProfileTwitch-1SbNkP {
  border-radius: calc(var(--borders-icons-default) / 3.8) / calc(var(--borders-icons-default) / 2) !important;
}
#app-mount .voiceSectionIconWrapper-4yoj76 {
  box-shadow: 0 0 0 2px var(--borders-color-secondary);
  border-radius: var(--borders-icons-default);
}
#app-mount .status-1ZXjSF {
  box-shadow: 0 0 0 4px var(--borders-color-floating);
  border-radius: var(--borders-icons-default);
}
#app-mount .vz-commands-autocomplete .listItems-6eZzQ1 .mask-3pLFcz {
  overflow: visible;
}
#app-mount .vz-commands-autocomplete .listItems-6eZzQ1 .mask-3pLFcz foreignObject {
  -webkit-mask: none !important;
          mask: none !important;
  border-radius: var(--borders-icons-default);
}
#app-mount .container-ZMc96U {
  -webkit-mask: none;
          mask: none;
}
#app-mount .iconBadge-3Mmg92 {
  box-shadow: 0 0 0 2px var(--borders-color-primary);
  border-radius: var(--borders-icons-default);
}
#app-mount .buttonContainer-2lnNiN foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .notificationDot-1Puoq6 {
  box-shadow: 0 0 0 2px var(--borders-color-textarea);
  border-radius: var(--borders-icons-default);
}
#app-mount .imageLoading-2uloYN {
  transform: scale(1.5);
  clip-path: inset(20% round var(--borders-icons-default));
}
#app-mount .activitySectionAssets-1wpe42 .largeImageMask-2KA28T,
#app-mount .assetsLargeMaskProfile-9q3P0C,
#app-mount .assetsLargeMaskStreamPreview--ugZjW,
#app-mount .assetsLargeMaskUserPopout-3N96A8,
#app-mount .assetsLargeMaskVoiceChannel-3IlDCA {
  -webkit-mask: none;
          mask: none;
}
#app-mount .assetsSmallImage-2JNB1y {
  top: 73%;
  left: 73%;
  border-radius: var(--borders-icons-small);
}
#app-mount .activitySectionAssets-1wpe42 .smallImage-m2dwC4 {
  background-color: var(--borders-color-secondary);
  box-shadow: 0 0 0 2px var(--borders-color-secondary);
  border-radius: var(--borders-icons-default);
}
#app-mount .activity-11LB_k .assetsSmallImage-2JNB1y {
  background-color: var(--borders-color-activity);
  box-shadow: 0 0 0 2px var(--borders-color-activity);
  border-radius: var(--borders-icons-default);
}
#app-mount .container-8Futzw .assetsSmallImage-2JNB1y {
  background-color: var(--borders-color-floating);
  box-shadow: 0 0 0 2px var(--borders-color-floating);
  border-radius: var(--borders-icons-default);
}
#app-mount .body-2khErn .assetsSmallImage-2JNB1y {
  background-color: var(--borders-color-tertiary);
  box-shadow: 0 0 0 2px var(--borders-color-tertiary);
  border-radius: var(--borders-icons-default);
}
#app-mount .activity-1ythUs .assetsSmallImage-2JNB1y {
  background-color: var(--borders-color-activity);
  box-shadow: 0 0 0 3px var(--borders-color-activity);
  border-radius: var(--borders-icons-default);
  top: 71%;
  left: 71%;
}
#app-mount .gameIcon-1mDo1J {
  border-radius: var(--borders-icons-default);
}
#app-mount .gameIcon-1mDo1J rect {
  rx: var(--borders-icons-default);
}
#app-mount .gameIcon-1mDo1J circle:nth-child(3) {
  cx: calc(var(--borders-icons-default) * 0.15 + 7);
  cy: calc(var(--borders-icons-default) * 0.15 + 7);
}
#app-mount .gameIcon-1mDo1J circle:nth-child(4) {
  cx: calc(var(--borders-icons-default) * 0.15 + 7);
  cy: calc(var(--borders-icons-default) * -0.15 + 33);
}
#app-mount .gameIcon-1mDo1J circle:nth-child(5) {
  cx: calc(var(--borders-icons-default) * -0.15 + 33);
  cy: calc(var(--borders-icons-default) * 0.15 + 7);
}
#app-mount .gameIcon-1mDo1J circle:nth-child(6) {
  cx: calc(var(--borders-icons-default) * -0.15 + 33);
  cy: calc(var(--borders-icons-default) * -0.15 + 33);
}
#app-mount .screenshareIcon-QVBxGK {
  border-radius: var(--borders-icons-default);
  transform: scale(1.05);
  clip-path: inset(3% round var(--borders-icons-wide));
}
#app-mount .flagImage-9qG9zR,
#app-mount .flag-16iIBd,
#app-mount .regionSelectFlag-3uwFtG,
#app-mount .regionSelectFlag-2YbDyH,
#app-mount .cardIcon-1d-mcG:before {
  background-color: transparent;
  border-radius: 0;
  transform: scale(1.1);
  clip-path: inset(3% round var(--borders-icons-wide));
}

  /*------------------------------------*/
 /*-----<Indicators Border Shapes>-----*/
/*------------------------------------*/

#app-mount .base-3IDx3L,
#app-mount .liveIndicator-2HaEDu[style="border-radius: 16px;"],
#app-mount .wrapper-22ayhK,
#app-mount .bar-2eAyLE,
#app-mount .blob-1uHjdp,
#app-mount .content-3spvdd,
#app-mount .container-3i3IzO,
#app-mount .container-2rzKKA,
#app-mount .wrapper-2fEmwW,
#app-mount .keybindShortcut-3zF1P9 span,
#app-mount .featureStickers-Pc_FBx .fakeBuyButton-3XrfxO,
#app-mount .planOptionDiscount-2UFc37,
#app-mount .rowPercentDiscount-2oRqZZ,
#app-mount .pill-qMtBTq,
#app-mount .tierUnlocked-25K6Kv,
#app-mount .guildDetails-2p1NmK,
#app-mount .notice-1Qe0b_,
#app-mount .label-9FgsSa,
#app-mount .badge-_BgAUQ,
#app-mount .price-1BMuA2,
#app-mount .bd-server-tag,
#app-mount [vz-previews] .vz-addon-card-previews-empty-text,
#app-mount .gm-store-card > :nth-child(2) {
  border-radius: var(--borders-labels-large) !important;
}
#app-mount .liveIndicator-2HaEDu[style="border-radius: 0px 16px 16px 0px;"]{
  border-radius: 0px var(--borders-labels-large) var(--borders-labels-large) 0px !important;
}
#app-mount .base-3IDx3L.baseShapeRoundLeft-heLrHp{
  border-radius: var(--borders-labels-large) 0px 0px var(--borders-labels-large) !important;
}
#app-mount .liveIndicator-2HaEDu .base-3IDx3L{
  border-radius: 0 !important;
}
#app-mount .lowerBadge-3WTshO .base-3IDx3L,
#app-mount .upperBadge-1V6Iyi .base-3IDx3L,
#app-mount .upperLeftBadge-e35IpL .base-3IDx3L {
  box-shadow: 0 0 0 4px var(--borders-color-tertiary);
  border-radius: var(--borders-labels-small) !important;
}
#app-mount [role="group"] .lowerBadge-3WTshO .base-3IDx3L {
  box-shadow: 0 0 0 4px var(--borders-color-secondary);
  clip-path: inset(-100% 0 0 -100%);
  border-radius: var(--borders-labels-small) !important;
}
#app-mount [role="group"] .upperBadge-1V6Iyi .base-3IDx3L {
  box-shadow: 0 0 0 4px var(--borders-color-secondary);
  clip-path: inset(-100% 0 -100% -100%);
  border-radius: var(--borders-labels-small) !important;
}
#app-mount [role="group"] .unread-badge .base-3IDx3L {
  box-shadow: 0 0 0 4px var(--borders-color-secondary);
  clip-path: inset(-100% -100% 0 0);
  border-radius: var(--borders-labels-small) !important;
}
#app-mount .moreUsers-_v6T-L,
#app-mount .stageListenerPill-1_QAPA {
  box-shadow: 0 0 0 4px var(--borders-color-floating);
  border-radius: var(--borders-labels-large);
}
#app-mount .voiceUserSummary-huJ8Md .moreUsers-_v6T-L,
#app-mount .moreUsers-3PdGZN {
  box-shadow: 0 0 0 4px var(--borders-color-secondary);
  border-radius: var(--borders-labels-large);
}
#app-mount .stickerCategory-2f6iSo foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .stickerCategoryShopBadge-1_oCG0 {
  box-shadow: 0 0 0 3px var(--borders-color-tertiary);
  border-radius: var(--borders-labels-large);
}
#app-mount .reaction-2A2y9y .moreUsers-Gej0iV {
  margin: 0 0 0 2px;
  border-radius: var(--borders-labels-large);
}
#app-mount .memberGroupsPlaceholder-9tqX9V,
#app-mount .mulitplePlaceholderUsername-2T3DCI,
#app-mount .placeholderUsername-3iQi_D,
#app-mount .option-Tt7anD,
#app-mount .feature-1nRVr5,
#app-mount .countdownText-3tHeVw,
#app-mount .indicator-1zNk1M,
#app-mount .availabilityIndicator-3-1ZYA,
#app-mount .defaultIndicator-1AxErs,
#app-mount .installSize-3az1nt,
#app-mount .newTag-2R6YFS,
#app-mount .rem-3kT9wc.botTag-7aX5WZ,
#app-mount .px-MnE_OR.botTag-7aX5WZ,
#app-mount .emojiCounter-tx3ftR,
#app-mount .tagID {
  border-radius: var(--borders-labels-small);
}
#app-mount .gifTag-1TvtGO {
  transform: scale(1.05);
  clip-path: inset(5% 1% round var(--borders-labels-small));
}
#app-mount .tabButton-1hJ4oW rect {
  rx: var(--borders-labels-small);
}
#app-mount .tabButton-1hJ4oW path:nth-child(1) {
  d: path("M 0 12 h 30 v 8 a 4 4 0 0 1 0 0 H 0 a 4 4 0 0 1 0 0 v 0 Z");
  clip-path: inset(0% round 0 0 calc(var(--borders-labels-small) / 2) calc(var(--borders-labels-small) / 2));
}
#app-mount .unread-3zKkbm,
#app-mount .unread-36eUEm,
#app-mount .unreadPill-3nEWYM {
  border-radius: 0 var(--borders-pills) var(--borders-pills) 0;
}
#app-mount .item-2LIpTv {
  border-radius: 0 var(--borders-pills) var(--borders-pills) 0;
}
#app-mount .containerDragAfter-3aBiOW::after,
#app-mount .containerDragBefore-1s5Qg6::before,
#app-mount .containerDragAfter-1J_-1V::before,
#app-mount .containerDragBefore-ei4h1m::before,
#app-mount .containerDragAfter-25h19Z:after,
#app-mount .containerDragBefore-3mSl4B:before {
  border-radius: var(--borders-lines);
}

  /*------------------------------------*/
 /*-----<Role Stuff Border Shapes>-----*/
/*------------------------------------*/

#app-mount .role-2TIOKu,
#app-mount .role-23oyrw,
#app-mount .roleColor-3cA0as,
#app-mount .member-perm {
  border-radius: var(--borders-role-outlines) !important;
}
#app-mount .roleCircle-1EgnFN,
#app-mount .roleDot-2a4Pv7,
#app-mount .popoutRoleDot-2_Nt5g,
#app-mount .tagRoleColor-1rZDyG,
#app-mount .perm-circle,
#app-mount .listRow-7SfZww .listAvatar-1NlAhb > div {
  border-radius: var(--borders-role-dots) !important;
}

  /*---------------------------------------*/
 /*-----<Message Stuff Border Shapes>-----*/
/*---------------------------------------*/

#app-mount .message-2CShn3 {
  border-radius: 0 var(--borders-messages) var(--borders-messages) 0;
}
#app-mount .mention {
  border-radius: var(--borders-mentions);
}
#app-mount .reaction-2A2y9y {
  border-radius: var(--borders-reactions);
}
#app-mount code,
#app-mount .autocompleteQuerySymbol-1iAOG7,
#app-mount #bd-customcss-attach-controls .help-text .inline,
#app-mount .vz-markdown-code-inline {
  border-radius: var(--borders-codes);
}
#app-mount .textContainer-36wgKK {
  border-radius: var(--borders-codes) var(--borders-codes) 0 0;
}
#app-mount .textContainer-36wgKK + .footer-GXWBBp {
  border-radius: 0 0 var(--borders-codes) var(--borders-codes);
}
#app-mount .before_inlineCode-xn8Llh {
  border-radius: var(--borders-codes) 0 0 var(--borders-codes);
}
#app-mount .after_inlineCode-WydEur {
  border-radius: 0 var(--borders-codes) var(--borders-codes) 0;
}
#app-mount .embedFull-1HGV2S {
  border-radius: var(--borders-embeds);
}
#app-mount .repliedMessage-3Z6XBG::before {
  border-radius: var(--borders-replies) 0 0 0;
}
#app-mount .blockquoteDivider-363utW {
  border-radius: var(--borders-quotes) 0 0 var(--borders-quotes);
}
#app-mount .scrollableContainer-15eg7h .blockquoteDivider-363utW {
  border-radius: var(--borders-quotes);
}
#app-mount .spoilerText-27bIiA {
  border-radius: var(--borders-spoilers);
}

  /*------------------------------------*/
 /*-----<Misc Stuff Border Shapes>-----*/
/*------------------------------------*/

#app-mount .tooltip-14MtrL,
body .tooltip-14MtrL,
#app-mount .subscribeTooltipWrapper-3ipXtC,
#app-mount .upsellTooltipWrapper-1wqikQ,
#app-mount .tooltip-1_vJJI,
#app-mount .tooltip-16UpTB,
#app-mount .containerBackground-Ang24O {
  border-radius: var(--borders-tooltips);
}
#app-mount .container-JMJRDf{
  border-radius: var(--borders-tooltips) var(--borders-tooltips) 0 0;
}
#app-mount ::-webkit-scrollbar,
#app-mount ::-webkit-scrollbar-track,
#app-mount ::-webkit-scrollbar-thumb {
  border-radius: var(--borders-scrollbars);
}
#app-mount .sidebar-1tnWFu,
#app-mount .notice-2HEN-u {
  border-radius: var(--borders-sidebar-and-notices) 0 0;
}
#app-mount .container-3XgAHv {
  border-radius: var(--borders-sidebar-and-notices) 0 0 ;
}
#app-mount .chat-2ZfjoI.threadSidebarOpen-1LSXvU {
  border-radius: 0 var(--borders-sidebar-and-notices) 0 0;
}
#app-mount .ring-370dIp,
#app-mount .focusRing-2_fyOA {
  border-radius: var(--borders-navigation-highlight);
}
#app-mount .toast,
body .bd-toast,
body .pc-notice-container,
#app-mount .toast-g4bfgI,
#app-mount .toast-q3Y4wI,
#app-mount .powercord-toast,
#app-mount .powercord-toast .header,
#app-mount .small-1bZsRQ,
#app-mount .vz-toast,
#app-mount .cumcord-toast,
#app-mount .xenoLib-notification-content,
#app-mount .xenoLib-notification-loadbar {
  border-radius: var(--borders-toasts) !important;
}
#app-mount .monaco-editor,
#app-mount .monaco-editor .overflow-guard {
  border-radius: 0 0 var(--borders-code-editors) var(--borders-code-editors);
}
#app-mount #bd-editor-controls {
  border-radius: var(--borders-code-editors) var(--borders-code-editors) 0 0;
}
body .floating-window,
#app-mount .powercord-quickcss,
#app-mount .powercord-quickcss-editor-settings {
  border-radius: var(--borders-code-editors);
}
